.container {
  /* padding: 0 2rem; */
}

.heroVideo {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: rgba(4, 14, 47);
}

.heroVideo:after {
  content: "";
  width: 100%;
  height: calc(100% + 1px);
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: 1;
  background-image: linear-gradient(90deg, #040e2f, rgba(4, 14, 47, 0.4) 63%);
}

.contentContainer {
  top: 100px;
  position: fixed;
  height: calc(100% - 160px);
  width: 100vw;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.titleContainer {
  padding: 0 4rem;
}

.title {
  font-size: 42px;
}

.subtitle {
  font-size: 22px;
}

/* credits: https://codepen.io/natalia-reshetnikova/pen/oRRjPP */
.btn {
  line-height: 50px;
  height: 50px;
  font-size: 18px;
  text-align: center;
  width: 250px;
  cursor: pointer;
  color: #fff;
  transition: all 0.5s;
  position: relative;
  border-radius: 10px;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s;
  border-radius: 10px;
}

.btn:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transform: scale(1.2, 1.2);
  border-radius: 10px;
}
.btn:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}
